html {
    font-size: 10px;
}

body {
    padding: 0;
}

body * {
    font-size: 1.6rem;
    box-sizing: border-box;
}

a {
    color: #0A0C71;
    text-decoration: none;
    transition: background 0.25s;
    cursor: pointer;
    border-radius: 0.5rem;
}

a:hover {
    background: #E0E8F5;
    text-decoration: none;
}

a.selected {
    background: #C1D1EB;
}

p {
    margin: 0;
}

h3 {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 1rem 0;
}

h5 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem 0;
}